#### 판다스 파일 읽기

- 파일일기
    - csv
    - excel
    - txt

In [2]:
# 판다스, 넘파이 기본 import
import pandas as pd
import numpy as np

In [9]:
# 로컹 파일 읽기
df1 = pd.read_csv('./충청북도_푸드뱅크현황.csv', encoding='utf-8', header=0) 
df1

,지역,시군구,센터단위,센터구분,지원센터,신고구분,운영단체명,운영법인분류(대),대표자명,센터전화번호,주소,등록일자
0,충북,충청북도 청주시 흥덕구,광역,푸드뱅크,광역기부식품등지원센터,당연신고,충청북도사회복지협의회,법인 운영,김*석,043-234-1377,"청주시 흥덕구 공단로 87, 302호",2000-05-18
1,충북,충청북도 청주시 흥덕구,기초,푸드뱅크,청주시흥덕푸드뱅크,임의신고,청주시사회복지협의회,법인 운영,이*형,043-267-1377,"청주시 흥덕구 무심서로 665(운천동), 2층",2002-08-19
2,충북,충청북도 청주시 상당구,기초,푸드뱅크,청주구세군푸드뱅크,당연신고,구세군청주복지센터,법인 운영,이*혁,043-254-1377,"청주시 상당구 쇠내로 145번길 15, A동 202호",2010-01-01
3,충북,충청북도 청주시 흥덕구,기초,푸드뱅크,청주사랑나눔푸드뱅크,당연신고,개인,개인 운영,조*옥,043-266-1377,청주시 흥덕구 강서로 71번길 20-3,2008-03-03
4,충북,충청북도 청주시 청원구,기초,푸드뱅크,청주드림푸드뱅크,당연신고,기독교대한감리회(드림교회),법인 운영,문*길,043-218-7991,청주시 청원구 상리로17번길 27-40(율량동),2012-05-14
5,충북,충청북도 청주시 상당구,기초,푸드뱅크,청주제일푸드뱅크,임의신고,한국기독교장로회(청주제일교회),법인 운영,이*희,043-256-3816,청주시 상당구 상당로 13번길 15(남문로1가),2013-03-15
6,충북,충청북도 청주시 청원구,기초,푸드뱅크,청원푸드뱅크,당연신고,개인,개인 운영,김*경,043-218-1377,청주시 청원구 내수읍 내수로 737,2005-07-05
7,충북,충청북도 청주시 상당구,기초,푸드뱅크,대청푸드뱅크,당연신고,개인,개인 운영,이*순,043-221-7838,청주시 상당구 문의면 두모1길 13-8,2014-05-28
8,충북,충청북도 청주시 상당구,기초,푸드마켓,청주시푸드마켓,임의신고,청주시사회복지협의회,법인 운영,이*형,043-222-9171,청주시 상당구 남사로 83번길 35(서문동),2009-06-15
9,충북,충청북도 충주시,기초,푸드뱅크,충주시푸드뱅크,당연신고,사회복지법인 열림재단(충주종합사회복지관),법인 운영,이*훈,043-855-3000,충주시 주공길 7 (연수동),2002-07-01
10,충북,충청북도 충주시,기초,푸드마켓,충주시푸드마켓,임의신고,사회복지법인 열림재단(충주종합사회복지관),법인 운영,이*훈,043-855-1377,"충주시 사직산21길 34, 종합복지관 B1층",2010-01-22
11,충북,충청북도 제천시,기초,푸드뱅크,제천시푸드뱅크,당연신고,제천시사회복지협의회,법인 운영,양*경,043-645-5004,제천시 내토로 390(영천동),1998-09-17
12,충북,충청북도 제천시,기초,푸드마켓,제천시푸드마켓,임의신고,제천시사회복지협의회,법인 운영,양*경,043-647-1377,제천시 동명로 50(서부동),2009-06-10
13,충북,충청북도 보은군,기초,푸드뱅크,보은군푸드뱅크,당연신고,보은군사회복지협의회,법인 운영,구*회,043-544-1377,보은군 보은읍 보청대로 1907,2002-01-01
14,충북,충청북도 옥천군,기초,푸드마켓,옥천군푸드뱅크,임의신고,사회복지법인 전석복지재단(옥천군노인장애인복지관),법인 운영,오*훈,043-730-2653,"옥천군 옥천읍 삼금로 4길6, 1층",2004-01-03
15,충북,충청북도 옥천군,기초,푸드뱅크,옥천나눔푸드뱅크,임의신고,개인,개인 운영,이*선,043-731-6231,옥천군 옥천읍 응천1길 63-3,2019-08-08
16,충북,충청북도 영동군,기초,푸드뱅크,영동나눔푸드뱅크,당연신고,영동군사회복지협의회,법인 운영,서*선,043-744-4949,영동군 영동읍 눈어치1로 71,2005-01-27
17,충북,충청북도 증평군,기초,푸드뱅크,증평군푸드뱅크,임의신고,사회복지법인 열림재단(삼보사회복지관),법인 운영,정*선,043-836-6040,증평군 증평읍 창신로 85,2002-01-01
18,충북,충청북도 진천군,기초,푸드뱅크,진천군푸드뱅크,당연신고,진천군사회복지협의회,법인 운영,손*영,043-533-1377,진천군 진천읍 상산로 42,2004-03-23
19,충북,충청북도 진천군,기초,푸드뱅크,진천나눔과기쁨,임의신고,개인,개인 운영,안*선,043-536-0129,"진천군 진천읍 진광로 72-1, 1층",2006-03-07
20,충북,충청북도 괴산군,기초,푸드뱅크,괴산군푸드뱅크,당연신고,괴산군사회복지협의회,법인 운영,최*묵,043-834-1377,"괴산군 괴산읍 괴강로 15, 1층",2001-08-31
21,충북,충청북도 괴산군,기초,푸드뱅크,괴산나눔과기쁨,당연신고,개인,개인 운영,김*윤,043-832-3197,괴산군 괴산읍 정용1길 8,2010-09-27
22,충북,충청북도 괴산군,기초,푸드마켓,괴산군푸드마켓,임의신고,괴산군사회복지협의회,법인 운영,최*묵,043-834-1377,"괴산군 괴산읍 괴강로 15, 1층",2011-12-16
23,충북,충청북도 음성군,기초,푸드뱅크,음성군푸드뱅크,당연신고,음성군사회복지협의회,법인 운영,이*용,043-873-2882,"음성군 음성읍 중앙로40번길 9-1, 201호",2003-08-04
24,충북,충청북도 음성군,기초,푸드뱅크,한울사랑나눔,당연신고,한울사랑나눔푸드뱅크,개인 운영,이*경,043-878-4312,음성군 생극면 음성로 1620번길 7,2011-11-25
25,충북,충청북도 음성군,기초,푸드뱅크,관성푸드뱅크,당연신고,개인,개인 운영,유*호,043-877-9457,음성군 삼성면 대성로547번길 12,2014-04-18
26,충북,충청북도 단양군,기초,푸드뱅크,단양군푸드뱅크,임의신고,단양군사회복지협의회,법인 운영,김*학,043-422-1299,"단양군 단양읍 수변로 83, 3층",2022-12-01
27,충북,충청북도 단양군,기초,푸드뱅크,단양나눔과기쁨,당연신고,기독교대한성결교회(단양수정교회),법인 운영,함*용,043-421-3191,단양군 대강면 장림1길 6,2012-04-17
28,충북,충청북도 단양군,기초,푸드마켓,단양군푸드마켓,임의신고,단양군사회복지협의회,법인 운영,김*학,043-422-1700,"단양군 단양읍 중앙1로 29, 1층",2012-06-22

In [5]:
df2 = pd.read_csv('./부산광역시_시내버스_이용건수.csv')
df2

,노선,건수(1통행)_일반,건수(1통행)_청소년,건수(1통행)_어린이,건수(2통행)_일반,건수(2통행)_청소년,건수(2통행)_어린이,건수(3통행)_일반,건수(3통행)_청소년,건수(3통행)_어린이,교통카드건수합계
0,10,2080493,306390,49687,552536,42617,3662,107615,5765,392,3149157
1,100,1110618,79088,13380,218334,9700,925,39272,1030,133,1472480
2,1000(급행),411987,16316,3420,107847,4430,439,13587,429,57,558512
3,1000(심야),62582,1827,31,8249,176,0,1286,23,0,74174
4,100-1,1407263,128441,21508,341884,16358,1416,61143,2136,213,1980362
...,...,...,...,...,...,...,...,...,...,...,...
314,해운대구3,176784,7044,6349,55650,2884,355,17888,348,48,267350
315,해운대구3-2,182135,28726,6676,62403,3241,305,16066,334,22,299908
316,해운대구7,222761,8074,3845,55990,1863,437,15008,353,20,308351
317,해운대구8,41773,2237,722,13645,491,68,3180,161,18,62295
318,해운대구9,66764,2393,565,15304,696,62,3814,190,15,89803

In [10]:
## 웹사이트 상에 있기
df3 = pd.read_csv('https://raw.githubusercontent.com/hugoMGSung/bigdata-python-2023/main/Day03/%EC%B6%A9%EC%B2%AD%EB%B6%81%EB%8F%84_%ED%91%B8%EB%93%9C%EB%B1%85%ED%81%AC%ED%98%84%ED%99%A9.csv')

In [11]:
df3

,지역,시군구,센터단위,센터구분,지원센터,신고구분,운영단체명,운영법인분류(대),대표자명,센터전화번호,주소,등록일자
0,충북,충청북도 청주시 흥덕구,광역,푸드뱅크,광역기부식품등지원센터,당연신고,충청북도사회복지협의회,법인 운영,김*석,043-234-1377,"청주시 흥덕구 공단로 87, 302호",2000-05-18
1,충북,충청북도 청주시 흥덕구,기초,푸드뱅크,청주시흥덕푸드뱅크,임의신고,청주시사회복지협의회,법인 운영,이*형,043-267-1377,"청주시 흥덕구 무심서로 665(운천동), 2층",2002-08-19
2,충북,충청북도 청주시 상당구,기초,푸드뱅크,청주구세군푸드뱅크,당연신고,구세군청주복지센터,법인 운영,이*혁,043-254-1377,"청주시 상당구 쇠내로 145번길 15, A동 202호",2010-01-01
3,충북,충청북도 청주시 흥덕구,기초,푸드뱅크,청주사랑나눔푸드뱅크,당연신고,개인,개인 운영,조*옥,043-266-1377,청주시 흥덕구 강서로 71번길 20-3,2008-03-03
4,충북,충청북도 청주시 청원구,기초,푸드뱅크,청주드림푸드뱅크,당연신고,기독교대한감리회(드림교회),법인 운영,문*길,043-218-7991,청주시 청원구 상리로17번길 27-40(율량동),2012-05-14
5,충북,충청북도 청주시 상당구,기초,푸드뱅크,청주제일푸드뱅크,임의신고,한국기독교장로회(청주제일교회),법인 운영,이*희,043-256-3816,청주시 상당구 상당로 13번길 15(남문로1가),2013-03-15
6,충북,충청북도 청주시 청원구,기초,푸드뱅크,청원푸드뱅크,당연신고,개인,개인 운영,김*경,043-218-1377,청주시 청원구 내수읍 내수로 737,2005-07-05
7,충북,충청북도 청주시 상당구,기초,푸드뱅크,대청푸드뱅크,당연신고,개인,개인 운영,이*순,043-221-7838,청주시 상당구 문의면 두모1길 13-8,2014-05-28
8,충북,충청북도 청주시 상당구,기초,푸드마켓,청주시푸드마켓,임의신고,청주시사회복지협의회,법인 운영,이*형,043-222-9171,청주시 상당구 남사로 83번길 35(서문동),2009-06-15
9,충북,충청북도 충주시,기초,푸드뱅크,충주시푸드뱅크,당연신고,사회복지법인 열림재단(충주종합사회복지관),법인 운영,이*훈,043-855-3000,충주시 주공길 7 (연수동),2002-07-01
10,충북,충청북도 충주시,기초,푸드마켓,충주시푸드마켓,임의신고,사회복지법인 열림재단(충주종합사회복지관),법인 운영,이*훈,043-855-1377,"충주시 사직산21길 34, 종합복지관 B1층",2010-01-22
11,충북,충청북도 제천시,기초,푸드뱅크,제천시푸드뱅크,당연신고,제천시사회복지협의회,법인 운영,양*경,043-645-5004,제천시 내토로 390(영천동),1998-09-17
12,충북,충청북도 제천시,기초,푸드마켓,제천시푸드마켓,임의신고,제천시사회복지협의회,법인 운영,양*경,043-647-1377,제천시 동명로 50(서부동),2009-06-10
13,충북,충청북도 보은군,기초,푸드뱅크,보은군푸드뱅크,당연신고,보은군사회복지협의회,법인 운영,구*회,043-544-1377,보은군 보은읍 보청대로 1907,2002-01-01
14,충북,충청북도 옥천군,기초,푸드마켓,옥천군푸드뱅크,임의신고,사회복지법인 전석복지재단(옥천군노인장애인복지관),법인 운영,오*훈,043-730-2653,"옥천군 옥천읍 삼금로 4길6, 1층",2004-01-03
15,충북,충청북도 옥천군,기초,푸드뱅크,옥천나눔푸드뱅크,임의신고,개인,개인 운영,이*선,043-731-6231,옥천군 옥천읍 응천1길 63-3,2019-08-08
16,충북,충청북도 영동군,기초,푸드뱅크,영동나눔푸드뱅크,당연신고,영동군사회복지협의회,법인 운영,서*선,043-744-4949,영동군 영동읍 눈어치1로 71,2005-01-27
17,충북,충청북도 증평군,기초,푸드뱅크,증평군푸드뱅크,임의신고,사회복지법인 열림재단(삼보사회복지관),법인 운영,정*선,043-836-6040,증평군 증평읍 창신로 85,2002-01-01
18,충북,충청북도 진천군,기초,푸드뱅크,진천군푸드뱅크,당연신고,진천군사회복지협의회,법인 운영,손*영,043-533-1377,진천군 진천읍 상산로 42,2004-03-23
19,충북,충청북도 진천군,기초,푸드뱅크,진천나눔과기쁨,임의신고,개인,개인 운영,안*선,043-536-0129,"진천군 진천읍 진광로 72-1, 1층",2006-03-07
20,충북,충청북도 괴산군,기초,푸드뱅크,괴산군푸드뱅크,당연신고,괴산군사회복지협의회,법인 운영,최*묵,043-834-1377,"괴산군 괴산읍 괴강로 15, 1층",2001-08-31
21,충북,충청북도 괴산군,기초,푸드뱅크,괴산나눔과기쁨,당연신고,개인,개인 운영,김*윤,043-832-3197,괴산군 괴산읍 정용1길 8,2010-09-27
22,충북,충청북도 괴산군,기초,푸드마켓,괴산군푸드마켓,임의신고,괴산군사회복지협의회,법인 운영,최*묵,043-834-1377,"괴산군 괴산읍 괴강로 15, 1층",2011-12-16
23,충북,충청북도 음성군,기초,푸드뱅크,음성군푸드뱅크,당연신고,음성군사회복지협의회,법인 운영,이*용,043-873-2882,"음성군 음성읍 중앙로40번길 9-1, 201호",2003-08-04
24,충북,충청북도 음성군,기초,푸드뱅크,한울사랑나눔,당연신고,한울사랑나눔푸드뱅크,개인 운영,이*경,043-878-4312,음성군 생극면 음성로 1620번길 7,2011-11-25
25,충북,충청북도 음성군,기초,푸드뱅크,관성푸드뱅크,당연신고,개인,개인 운영,유*호,043-877-9457,음성군 삼성면 대성로547번길 12,2014-04-18
26,충북,충청북도 단양군,기초,푸드뱅크,단양군푸드뱅크,임의신고,단양군사회복지협의회,법인 운영,김*학,043-422-1299,"단양군 단양읍 수변로 83, 3층",2022-12-01
27,충북,충청북도 단양군,기초,푸드뱅크,단양나눔과기쁨,당연신고,기독교대한성결교회(단양수정교회),법인 운영,함*용,043-421-3191,단양군 대강면 장림1길 6,2012-04-17
28,충북,충청북도 단양군,기초,푸드마켓,단양군푸드마켓,임의신고,단양군사회복지협의회,법인 운영,김*학,043-422-1700,"단양군 단양읍 중앙1로 29, 1층",2012-06-22

In [12]:
df4 = pd.read_csv('https://raw.githubusercontent.com/bourbonkk/StatisticDataAnalysis/main/rawdata/totally_raw_data.csv')
df4

,date,sm_tp1_t,sm_tp2_t,sm_tp3_t,sm_tp4_t,sm_tp5_t,sm_tp6_t,sm_tot_t,confirmed,death,...,i_nw_release,i_nw_test,i_nw_death,i_confirm_id_rto,i_quarant_id_rto,i_test_id_rto,i_test_cnfm_rto,i_confirm_rto,i_fatality_rto,i_release_rto
0,20200101,5179287,69285,139674,56505,47966,219017,5711734,0,0,...,0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,20200102,5270468,205143,264086,186271,264039,297441,6487448,0,0,...,0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,20200103,5661518,227649,296568,224709,313996,312206,7036646,0,0,...,0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,20200104,5595676,117323,194373,109813,171529,258204,6446918,0,0,...,0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,20200105,4871393,52691,139683,46335,46099,218329,5374530,0,0,...,0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
511,20210527,7553319,293459,357332,323979,508270,404843,9441202,138309,1943,...,606,36235,3,0.004569,0.002449,0.003763,0.014493,0.014309,0.000201,0.926765
512,20210528,8371873,286788,355519,308215,480799,433393,10236587,138896,1946,...,581,36763,3,0.004244,0.000366,0.003803,0.014499,0.014316,0.000201,0.927032
513,20210529,8993202,159922,211302,156898,279498,382203,10183025,139429,1951,...,978,31135,5,0.003837,-0.054952,0.003209,0.014509,0.014325,0.000200,0.930502
514,20210530,8190964,76539,136893,69326,83879,332697,8890298,139909,1957,...,642,14024,6,0.003443,-0.021708,0.001441,0.014542,0.014353,0.000201,0.931899
515,20210531,7263254,278895,329552,285756,443019,394121,8994597,140339,1959,...,442,13544,2,0.003073,-0.001849,0.001389,0.014568,0.014377,0.000201,0.932193

In [17]:
df4.to_csv('./totally_raw_data.csv', encoding='utf-8')

In [19]:
## pandas에서 excel을 표시하려면 openpyxl 모둘도 필요함
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
                                              0.0/250.0 kB ? eta -:--:--
     -------------------------------------- 250.0/250.0 kB 7.7 MB/s eta 0:00:00
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

In [22]:
# excel xls/ xlsx(xml textfile)
# sheet_name이 없으면 첫번째 시트를 기본으로 해서 읽음
df_xls = pd.read_excel('./totally_raw_data.xlsx', sheet_name='totally_raw_data')
df_xls

,date,sm_tp1_t,sm_tp2_t,sm_tp3_t,sm_tp4_t,sm_tp5_t,sm_tp6_t,sm_tot_t,confirmed,death,...,i_nw_test,i_nw_death,i_confirm_id_rto,i_quarant_id_rto,i_test_id_rto,i_test_cnfm_rto,i_confirm_rto,i_fatality_rto,i_release_rto,i_critical_rto
0,20200101,5179287,69285,139674,56505,47966,219017,5711734,0,0,...,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,20200102,5270468,205143,264086,186271,264039,297441,6487448,0,0,...,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,20200103,5661518,227649,296568,224709,313996,312206,7036646,0,0,...,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,20200104,5595676,117323,194373,109813,171529,258204,6446918,0,0,...,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,20200105,4871393,52691,139683,46335,46099,218329,5374530,0,0,...,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
511,20210527,7553319,293459,357332,323979,508270,404843,9441202,138309,1943,...,36235,3,0.004569,0.002449,0.003763,0.014493,0.014309,0.000201,0.926765,0.019868
512,20210528,8371873,286788,355519,308215,480799,433393,10236587,138896,1946,...,36763,3,0.004244,0.000366,0.003803,0.014499,0.014316,0.000201,0.927032,0.012987
513,20210529,8993202,159922,211302,156898,279498,382203,10183025,139429,1951,...,31135,5,0.003837,0.054952,0.003209,0.014509,0.014325,0.000200,0.930502,0.025641
514,20210530,8190964,76539,136893,69326,83879,332697,8890298,139909,1957,...,14024,6,0.003443,0.021708,0.001441,0.014542,0.014353,0.000201,0.931899,0.062500
515,20210531,7263254,278895,329552,285756,443019,394121,8994597,140339,1959,...,13544,2,0.003073,0.001849,0.001389,0.014568,0.014377,0.000201,0.932193,0.006667

In [23]:
df_xls2 = pd.read_excel('./totally_raw_data.xlsx', sheet_name='Sheet1')
df_xls2

    Unnamed: 0        변수명   변수 설명             변수명.1      변수설명
0          NaN       date      날짜         i_quarant    현재격리자수
1          NaN   sm_tp1_t   1종교통량      i_under_test    현재검사자수
2          NaN   sm_tp2_t   2종교통량      i_nw_confirm    신규확진자수
3          NaN   sm_tp3_t   3종교통량      i_nw_quarant    신규격리자수
4          NaN   sm_tp4_t   4종교통량      i_nw_release  신규격리해제자수
5          NaN   sm_tp5_t   5종교통량         i_nw_test    신규검사자수
6          NaN   sm_tp6_t   6종교통량        i_nw_death    신규사망자수
7          NaN   sm_tot_t    총교통량  i_confirm_id_rto    확진자증감률
8          NaN  confirmed   누적확진자  i_quarant_id_rto  현재격리자증감률
9          NaN      death   누적사망자     i_test_id_rto  누적검사자증감률
10         NaN   released  누적격리해제   i_test_cnfm_rto    검사자확진율
11         NaN     tested   누적검사자     i_confirm_rto       확진율
12         NaN   negative    누적음성    i_fatality_rto       치명률
13         NaN   critical  위중증환자수     i_release_rto     격리해제율
14         NaN        NaN     NaN    i_critical_rto  위중증환자증감율

In [25]:
df_xls2.to_excel('./second_raw_data.xlsx', index=False)

In [28]:
# json 읽고 쓰기
df_json1 = pd.read_json('./ora3.vuerd.json')
df_json1

                                               tables
0   {'name': 'SHIP', 'comment': '선박', 'columns': [...
1   {'name': 'CARGO', 'comment': '화물테이블', 'columns...
2   {'name': 'SCHEDULE', 'comment': '운행정보', 'colum...
3   {'name': 'CLIENT', 'comment': '회원', 'columns':...
4   {'name': 'ESTIMATE', 'comment': '가견적서', 'colum...
5   {'name': 'LOCATION', 'comment': ' 실제위치', 'colu...
6   {'name': 'PAYMENT', 'comment': '해상수송결제', 'colu...
7   {'name': 'UNLOAD', 'comment': '하역', 'columns':...
8   {'name': 'LANDTRANSPORTATION', 'comment': '육상수...
9   {'name': 'PORT', 'comment': '항구', 'columns': [...
10  {'name': 'ORDERTABLE', 'comment': '최종화물주문', 'c...
11  {'name': 'DESTINATION', 'comment': '목적지', 'col...
12  {'name': 'APPLICATION', 'comment': '신청서', 'col...
13  {'name': 'TRANSPORTORDER', 'comment': '최종수송주문'...

In [29]:
df_json1.to_csv('./ora3.vuerd.csv',encoding='utf-8')

In [30]:
df_json1.to_csv('./ora3.vuerd.json')

In [31]:
df_json1.to_sql('./test.sql', con='DB연결문자열')

ImportError: Using URI string without sqlalchemy installed.

#### 판다스 데이터프레임 함수

In [33]:
df2.head()

,노선,건수(1통행)_일반,건수(1통행)_청소년,건수(1통행)_어린이,건수(2통행)_일반,건수(2통행)_청소년,건수(2통행)_어린이,건수(3통행)_일반,건수(3통행)_청소년,건수(3통행)_어린이,교통카드건수합계
0,10,2080493,306390,49687,552536,42617,3662,107615,5765,392,3149157
1,100,1110618,79088,13380,218334,9700,925,39272,1030,133,1472480
2,1000(급행),411987,16316,3420,107847,4430,439,13587,429,57,558512
3,1000(심야),62582,1827,31,8249,176,0,1286,23,0,74174
4,100-1,1407263,128441,21508,341884,16358,1416,61143,2136,213,1980362

In [35]:
df2.tail()

,노선,건수(1통행)_일반,건수(1통행)_청소년,건수(1통행)_어린이,건수(2통행)_일반,건수(2통행)_청소년,건수(2통행)_어린이,건수(3통행)_일반,건수(3통행)_청소년,건수(3통행)_어린이,교통카드건수합계
314,해운대구3,176784,7044,6349,55650,2884,355,17888,348,48,267350
315,해운대구3-2,182135,28726,6676,62403,3241,305,16066,334,22,299908
316,해운대구7,222761,8074,3845,55990,1863,437,15008,353,20,308351
317,해운대구8,41773,2237,722,13645,491,68,3180,161,18,62295
318,해운대구9,66764,2393,565,15304,696,62,3814,190,15,89803

In [36]:
df2.tail(n=10) # 보고싶은 데이터 개수입력

,노선,건수(1통행)_일반,건수(1통행)_청소년,건수(1통행)_어린이,건수(2통행)_일반,건수(2통행)_청소년,건수(2통행)_어린이,건수(3통행)_일반,건수(3통행)_청소년,건수(3통행)_어린이,교통카드건수합계
309,영도구7,75752,3675,6921,28642,603,174,11531,117,22,127437
310,중구1,697337,54317,19641,194631,19279,1159,53429,1913,114,1041820
311,해운대10,108959,3738,1499,31932,1368,186,7515,230,14,155441
312,해운대2,497997,18493,7939,129377,4925,656,30714,866,56,691023
313,해운대3-1,477713,43739,22163,172859,13775,1055,49326,1614,80,782324
314,해운대구3,176784,7044,6349,55650,2884,355,17888,348,48,267350
315,해운대구3-2,182135,28726,6676,62403,3241,305,16066,334,22,299908
316,해운대구7,222761,8074,3845,55990,1863,437,15008,353,20,308351
317,해운대구8,41773,2237,722,13645,491,68,3180,161,18,62295
318,해운대구9,66764,2393,565,15304,696,62,3814,190,15,89803

In [38]:
# 기본함수 중 하나
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 319 entries, 0 to 318
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   노선           319 non-null    object
 1   건수(1통행)_일반   319 non-null    int64
 2   건수(1통행)_청소년  319 non-null    int64
 3   건수(1통행)_어린이  319 non-null    int64
 4   건수(2통행)_일반   319 non-null    int64
 5   건수(2통행)_청소년  319 non-null    int64
 6   건수(2통행)_어린이  319 non-null    int64
 7   건수(3통행)_일반   319 non-null    int64
 8   건수(3통행)_청소년  319 non-null    int64
 9   건수(3통행)_어린이  319 non-null    int64
 10  교통카드건수합계     319 non-null    int64
dtypes: int64(10), object(1)
memory usage: 27.5+ KB

In [39]:
# 통계함수
df2.describe()

,건수(1통행)_일반,건수(1통행)_청소년,건수(1통행)_어린이,건수(2통행)_일반,건수(2통행)_청소년,건수(2통행)_어린이,건수(3통행)_일반,건수(3통행)_청소년,건수(3통행)_어린이,교통카드건수합계
count,3.190000e+02,319.000000,319.000000,3.190000e+02,319.000000,319.000000,319.000000,319.000000,319.000000,3.190000e+02
mean,9.097186e+05,80566.586207,16944.125392,2.562514e+05,13987.498433,1303.062696,45417.561129,1743.705329,131.623824,1.326064e+06
std,1.101940e+06,104651.580319,20856.091463,3.058897e+05,15912.255741,1501.886898,47053.032339,2001.114845,136.885997,1.578476e+06
min,4.000000e+00,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000e+00
25%,1.080305e+05,5689.000000,1149.500000,3.420500e+04,1371.000000,167.000000,8492.500000,224.000000,19.000000,1.672515e+05
50%,3.946740e+05,37663.000000,8866.000000,1.247420e+05,7535.000000,832.000000,29059.000000,1037.000000,89.000000,6.052430e+05
75%,1.415491e+06,123944.500000,24280.500000,3.834900e+05,21271.000000,1961.500000,69678.500000,2587.500000,201.000000,2.068251e+06
max,4.572116e+06,555893.000000,132487.000000,1.500633e+06,75922.000000,6823.000000,208087.000000,13631.000000,636.000000,6.662068e+06

In [40]:
df2.loc[1]

노선                 100
건수(1통행)_일반     1110618
건수(1통행)_청소년      79088
건수(1통행)_어린이      13380
건수(2통행)_일반      218334
건수(2통행)_청소년       9700
건수(2통행)_어린이        925
건수(3통행)_일반       39272
건수(3통행)_청소년       1030
건수(3통행)_어린이        133
교통카드건수합계       1472480
Name: 1, dtype: object

In [41]:
df2['건수(1통행)_일반'].count()

319

In [42]:
df2['건수(1통행)_어린이'].mean()

16944.12539184953

In [46]:
# 4분위수 함수 q=0.25(1사분위), 0.5(2사분위), 0.75(3사분위), 1(4사분위)
df2['건수(1통행)_어린이'].quantile(q=0.25)

1149.5

#### 정렬

In [48]:
df2.sort_index(axis=0, ascending=False)

,노선,건수(1통행)_일반,건수(1통행)_청소년,건수(1통행)_어린이,건수(2통행)_일반,건수(2통행)_청소년,건수(2통행)_어린이,건수(3통행)_일반,건수(3통행)_청소년,건수(3통행)_어린이,교통카드건수합계
318,해운대구9,66764,2393,565,15304,696,62,3814,190,15,89803
317,해운대구8,41773,2237,722,13645,491,68,3180,161,18,62295
316,해운대구7,222761,8074,3845,55990,1863,437,15008,353,20,308351
315,해운대구3-2,182135,28726,6676,62403,3241,305,16066,334,22,299908
314,해운대구3,176784,7044,6349,55650,2884,355,17888,348,48,267350
...,...,...,...,...,...,...,...,...,...,...,...
4,100-1,1407263,128441,21508,341884,16358,1416,61143,2136,213,1980362
3,1000(심야),62582,1827,31,8249,176,0,1286,23,0,74174
2,1000(급행),411987,16316,3420,107847,4430,439,13587,429,57,558512
1,100,1110618,79088,13380,218334,9700,925,39272,1030,133,1472480
0,10,2080493,306390,49687,552536,42617,3662,107615,5765,392,3149157

In [49]:
df2.sort_index(axis=0, ascending=True) # 컬럼 이름 오름차순 정렬

,노선,건수(1통행)_일반,건수(1통행)_청소년,건수(1통행)_어린이,건수(2통행)_일반,건수(2통행)_청소년,건수(2통행)_어린이,건수(3통행)_일반,건수(3통행)_청소년,건수(3통행)_어린이,교통카드건수합계
0,10,2080493,306390,49687,552536,42617,3662,107615,5765,392,3149157
1,100,1110618,79088,13380,218334,9700,925,39272,1030,133,1472480
2,1000(급행),411987,16316,3420,107847,4430,439,13587,429,57,558512
3,1000(심야),62582,1827,31,8249,176,0,1286,23,0,74174
4,100-1,1407263,128441,21508,341884,16358,1416,61143,2136,213,1980362
...,...,...,...,...,...,...,...,...,...,...,...
314,해운대구3,176784,7044,6349,55650,2884,355,17888,348,48,267350
315,해운대구3-2,182135,28726,6676,62403,3241,305,16066,334,22,299908
316,해운대구7,222761,8074,3845,55990,1863,437,15008,353,20,308351
317,해운대구8,41773,2237,722,13645,491,68,3180,161,18,62295
318,해운대구9,66764,2393,565,15304,696,62,3814,190,15,89803

In [50]:
# 값으로 정렬
df2.sort_values(by='건수(2통행)_일반')

,노선,건수(1통행)_일반,건수(1통행)_청소년,건수(1통행)_어린이,건수(2통행)_일반,건수(2통행)_청소년,건수(2통행)_어린이,건수(3통행)_일반,건수(3통행)_청소년,건수(3통행)_어린이,교통카드건수합계
159,강서5중리2,4,0,0,0,0,0,0,0,0,4
158,강서1정거,193,5,0,4,0,0,1,0,0,203
181,금정3주말,23,3,0,8,0,0,0,0,0,34
214,기장군7(병산),369,27,17,57,0,0,46,0,0,516
184,금정구2-1(명절),470,10,16,184,5,2,90,3,5,785
...,...,...,...,...,...,...,...,...,...,...,...
51,15,4487024,383202,75013,1189127,48447,4905,157658,4689,485,6350550
147,87,4190379,171996,60607,1262973,43574,6607,194260,3901,435,5934732
95,31,4137408,267008,42113,1279329,49914,4151,150727,4037,387,5935074
36,126,4136923,406271,69411,1311685,64218,5181,162987,5617,432,6162725
132,68,4572116,280848,65355,1500633,61162,5425,171127,4900,502,6662068

##### 결측치 확인, 제거, 채우기
- 데이터분석 분석이전에 하는 일중 제일 중요한 일

In [51]:
datas = {
    '이름' : ['길동이','길순이','유고','애슐리'],
    '국어' : [90,100,None,99],
    '영어' : [None,100,99,100],
    '수학' : [50,100,None,20]
    }
df5=pd.DataFrame(datas)
df5

    이름     국어     영어     수학
0  길동이   90.0    NaN   50.0
1  길순이  100.0  100.0  100.0
2   유고    NaN   99.0    NaN
3  애슐리   99.0  100.0   20.0

In [52]:
df5.isnull()

      이름     국어     영어     수학
0  False  False   True  False
1  False  False  False  False
2  False   True  False   True
3  False  False  False  False

In [53]:
df5.isnull().sum()

이름    0
국어    1
영어    1
수학    1
dtype: int64

In [54]:
# 샤용빈도수 거의제로
df5.notnull().sum()

이름    4
국어    3
영어    3
수학    3
dtype: int64

In [59]:
# 결측치 채우기
df5['국어'] = df5['국어'].fillna(50)
df5

    이름     국어  영어     수학
0  길동이   90.0  40   50.0
1  길순이  100.0  40  100.0
2   유고   50.0  40    NaN
3  애슐리   99.0  40   20.0

In [58]:
df5['영어'].fillna(40, inplace=True)
df5

    이름     국어  영어     수학
0  길동이   90.0  40   50.0
1  길순이  100.0  40  100.0
2   유고   50.0  40    NaN
3  애슐리   99.0  40   20.0

In [61]:
df5['수학'].fillna(method='ffill') # foreward 값으로 채워넣어라

0     50.0
1    100.0
2    100.0
3     20.0
Name: 수학, dtype: float64

In [63]:
df5['수학'].fillna(method='bfill', inplace=True) #backward 값으로 채워넣어라

In [68]:
#결측치 삭제
df7 =pd.DataFrame(datas)
df7

    이름     국어     영어     수학
0  길동이   90.0    NaN   50.0
1  길순이  100.0  100.0  100.0
2   유고    NaN   99.0    NaN
3  애슐리   99.0  100.0   20.0

In [69]:
# 형식변환
df7['국어']

0     90.0
1    100.0
2      NaN
3     99.0
Name: 국어, dtype: float64

In [71]:
df7['국어'].astype('object')

0     90.0
1    100.0
2      NaN
3     99.0
Name: 국어, dtype: object

In [73]:
# 추가 NaN이 있으면 float64 -> Int64로 변경하려면 결측치가 없어야 변경가능
df7['국어'].fillna(30).astype('int64')

0     90
1    100
2     30
3     99
Name: 국어, dtype: int64

In [74]:
df7

    이름     국어     영어     수학
0  길동이   90.0    NaN   50.0
1  길순이  100.0  100.0  100.0
2   유고    NaN   99.0    NaN
3  애슐리   99.0  100.0   20.0

In [75]:
for index, row in df7.iterrows():
    print(index)
    print(row)
    print('-'* 20) # 가로줄 만들어라

0
이름     길동이
국어    90.0
영어     NaN
수학    50.0
Name: 0, dtype: object
--------------------
1
이름      길순이
국어    100.0
영어    100.0
수학    100.0
Name: 1, dtype: object
--------------------
2
이름      유고
국어     NaN
영어    99.0
수학     NaN
Name: 2, dtype: object
--------------------
3
이름      애슐리
국어     99.0
영어    100.0
수학     20.0
Name: 3, dtype: object
--------------------

In [76]:
for row in df7.itertuples():
    print(row)

Pandas(Index=0, 이름='길동이', 국어=90.0, 영어=nan, 수학=50.0)
Pandas(Index=1, 이름='길순이', 국어=100.0, 영어=100.0, 수학=100.0)
Pandas(Index=2, 이름='유고', 국어=nan, 영어=99.0, 수학=nan)
Pandas(Index=3, 이름='애슐리', 국어=99.0, 영어=100.0, 수학=20.0)

In [77]:
for row in df7.itertuples(name='Grades'):
    print(type(row))

<class 'pandas.core.frame.Grades'>
<class 'pandas.core.frame.Grades'>
<class 'pandas.core.frame.Grades'>
<class 'pandas.core.frame.Grades'>

#### 추가팁

In [91]:
titanic_train2 = pd.read_csv('./titanic_train.csv')
titanic_train2

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [90]:
pd.options.display.max_rows = 100 # 최대 행수를 100개지정
titanic_train2.head(100).style.highlight_max(color='lightgreen')

TypeError: '>=' not supported between instances of 'float' and 'str'

In [89]:
#jinja2 설치
!pip install Jinja2

Requirement already satisfied: Jinja2 in c:\program files\python311\lib\site-packages (3.1.2)
Requirement already satisfied: MarkupSafe>=2.0 in c:\program files\python311\lib\site-packages (from Jinja2) (2.1.3)

TypeError: '>=' not supported between instances of 'float' and 'str'

In [87]:
titanic_train2[['PassengerId', 'Survived', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare']]
titanic_train2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [96]:
import matplotlib_inline

titanic_train2.tail(20).style.background_gradient(cmap='Blues')
titanic_train2.tail(20).style.background_gradient(cmap='Summer_r')

ImportError: background_gradient requires matplotlib.

In [94]:
!pip install matplotlib

Collecting matplotlib
  Downloading matplotlib-3.7.1-cp311-cp311-win_amd64.whl (7.6 MB)
                                              0.0/7.6 MB ? eta -:--:--
     ------                                   1.2/7.6 MB 25.5 MB/s eta 0:00:01
     -----------------------                  4.4/7.6 MB 47.2 MB/s eta 0:00:01
     --------------------------------------   7.3/7.6 MB 52.0 MB/s eta 0:00:01
     ---------------------------------------- 7.6/7.6 MB 44.3 MB/s eta 0:00:00
Collecting contourpy>=1.0.1 (from matplotlib)
  Downloading contourpy-1.1.0-cp311-cp311-win_amd64.whl (470 kB)
                                              0.0/470.9 kB ? eta -:--:--
     ------------------------------------- 470.9/470.9 kB 28.8 MB/s eta 0:00:00
Collecting cycler>=0.10 (from matplotlib)
  Downloading cycler-0.11.0-py3-none-any.whl (6.4 kB)
Collecting fonttools>=4.22.0 (from matplotlib)
  Downloading fonttools-4.40.0-cp311-cp311-win_amd64.whl (1.9 MB)
                                              0.0/1.9 MB ? eta -:--:--
     ---------------------------------------- 1.9/1.9 MB 128.9 MB/s eta 0:00:00
Collecting kiwisolver>=1.0.1 (from matplotlib)
  Downloading kiwisolver-1.4.4-cp311-cp311-win_amd64.whl (55 kB)
                                              0.0/55.4 kB ? eta -:--:--
     ---------------------------------------- 55.4/55.4 kB ? eta 0:00:00
Requirement already satisfied: numpy>=1.20 in c:\program files\python311\lib\site-packages (from matplotlib) (1.25.0)
Requirement already satisfied: packaging>=20.0 in c:\users\administrator\appdata\roaming\python\python311\site-packages (from matplotlib) (23.1)
Collecting pillow>=6.2.0 (from matplotlib)
  Downloading Pillow-9.5.0-cp311-cp311-win_amd64.whl (2.5 MB)
                                              0.0/2.5 MB ? eta -:--:--
     ---------------------------------------- 2.5/2.5 MB 53.2 MB/s eta 0:00:00
Collecting pyparsing>=2.3.1 (from matplotlib)
  Downloading pyparsing-3.1.0-py3-none-any.whl (102 kB)
                                              0.0/102.6 kB ? eta -:--:--
     ---------------------------------------- 102.6/102.6 kB ? eta 0:00:00
Requirement already satisfied: python-dateutil>=2.7 in c:\program files\python311\lib\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\program files\python311\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Installing collected packages: pyparsing, pillow, kiwisolver, fonttools, cycler, contourpy, matplotlib
Successfully installed contourpy-1.1.0 cycler-0.11.0 fonttools-4.40.0 kiwisolver-1.4.4 matplotlib-3.7.1 pillow-9.5.0 pyparsing-3.1.0